* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 16px;
    color: #ffffff;
    background-color: #61222f;
    font-family: oxygen, sans-serif;
}

/** NAVIGATION **/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

#logo-img {
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
    border-radius: 50%;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #800000;
    text-transform: uppercase;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a, .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.nav-icon {
    width: 50px;
    height: 30px;
}

#nav-list {
    padding-top: 10px;
}

#nav-list a {
    color: #951C49;
    text-align: center;
}

#nav-list a:hover {
    background: #E7E7E7;
    border-radius: 100%;
}

#phone {
    margin-top: 5px;
    text-align: right;
}

#phone a:hover {
    border-radius: 5%;
    font-size: 1.2em;
}

button.navbar-toggler {
    clear: both;
    margin-top: 15px;
    border: 1px solid #800000;
}

.navbar-toggler-icon {
    border: 1px solid #800000;
}

.button.navbar-toggler {
    clear: both;
}
/* END NAVIGATION */

/** MAIN **/
.jumbotron {
    margin: 10px 0 10px 0;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
}

#menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
    background: url('/assets/images/menu-tile.jpg') no-repeat;
    background-position: center;
}

#specials-tile {
    background: url('/assets/images/specials-tile.jpg') no-repeat;
    background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .6;
}
/** END MAIN **/

/****** Large Screens *****/
@media (min-width: 1200px) {

}

/****** Medium Screens *****/
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-brand {
        padding-top: 30px;
        height: 80px;
    }
    .navbar-brand h1 {
        min-width: 250px;
        font-size: 1.5em;
    }
}

/****** Small Screens *****/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }

    .navbar-brand h1 {
        min-width: 250px;
        padding-top: 30px;
        font-size: 2em;
    }

    #nav-list a:hover {
        border-radius: 0%;
    }
}

/****** Extra Small Screens *****/
@media (max-width: 767px) {
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }

    .navbar-brand h1 {
        min-width: 250px;
        padding-top: 30px;
        font-size: 5vw;
    }

    #nav-list a:hover {
        border-radius: 0%;
    }
}